<html>
<app-nav></app-nav>



<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Builds</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
        <h1>Builds</h1>
        
    </div>

    <app-loading id="loadingBuilds"></app-loading>
    <splide id="sliderBuilds" class="animated fadeIn" hidden [options]="{ 
        fixedWidth: 120,
        height: 150,
        gap: 5,
        drag:true,
        pagination: false,
        isNavigation: false,
        type: 'slide'}">
        <splide-slide *ngFor="let item of builds;let index=index">
            <div>
                <img class="img img-thumbnail" (click)="selectBuilds(item)"
                    src="{{item.characterId.name | characterimage}}" />
                <p style="text-align: center; font-weight: bold; word-break: break-all;">{{item.name}}</p>

            </div>


        </splide-slide>
    </splide>

    <div *ngIf="selectedBuild" class="main-body">
        <div class="d-flex justify-content-between align-items-center">
            <h1 *ngIf="isEditing==false">{{selectedBuild.name}}</h1>
            <div *ngIf="isEditing==true">
                <label for="buildName">Build name</label>
                <input type="text" class="form-control mb-2" style="width: 100%;"
                    value="{{selectedBuild.name}}" id="buildName"
                    placeholder="{{selectedBuild.name}}">
            </div>
            <div *ngIf="selectedBuild" class="dropdown dropleft">
                <button *ngIf="isEditing==false" class="btn btn-info mr-1" type="button" aria-expanded="false" (click)="edit()">
                    Edit
                </button>
                <button *ngIf="isEditing==true" class="btn btn-info mr-1" type="button" aria-expanded="false" (click)="edit()">
                    Stop
                </button>
                <button *ngIf="isEditing==true" class="btn btn-success mr-1" type="button" aria-expanded="false" (click)="saveChanges()">
                    Save
                </button>
                <button *ngIf="isEditing==true" class="btn btn-danger mr-1" type="button" aria-expanded="false" (click)="removeBuild()">
                    Delete
                </button>
            </div>
        </div>
        <div class="row gutters-sm cardCharacter">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{selectedBuild.characterId.name|characterimage}}"
                                class="rounded-circle imgAvatar">
                            <div class="mt-3">
                                <h4>{{selectedBuild.characterId.name}}</h4>
                            </div>
                            <div *ngIf="isEditing==true" class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Characters
                                </a>

                                <div class="dropdown-menu" style="height: 100px;
                                overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" *ngFor="let item of characters"
                                        (click)="changeCharacter(item)">{{item.name}}</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{selectedBuild.weaponId.name|weaponsImg}}" class="rounded-circle imgAvatar">
                            <div class="mt-3">
                                <h4>{{selectedBuild.weaponId.name}}</h4>
                                <div *ngIf="isEditing==true" class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Weapons
                                    </a>

                                    <div class="dropdown-menu" style="height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of weapons"
                                            (click)="changeWeapon(item)">{{item.name}}</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>Artifact Pieces</h3>
                        <div class="row">
                            <div class="col-sm">
                                <img class="artifactImg"
                                    src="{{selectedBuild.flowerId.name |artifactParts: selectedBuild.flowerId.idSet.name}}">

                                <p style="overflow-wrap: break-word;">{{selectedBuild.flowerId.name}}</p>
                                <div *ngIf="isEditing==true" class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Flowers
                                    </a>

                                    <div class="dropdown-menu" style="height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of flowers"
                                            (click)="changeFlower(item)">{{item.name}}</a>

                                    </div>
                                </div>
                                <div *ngIf="isEditing==true" class="dropdown show mt-2">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Stats
                                    </a>

                                    <div  class="dropdown-menu" style="max-height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of flowers[0].stats"
                                            (click)="selectFlowerStat(item)">{{item}}</a>

                                    </div>
                                </div>

                                <h3>
                                    Selected stat
                                </h3>
                                <ul>
                                    <li style="list-style-type: none;">{{selectedBuild.flowerStat}}</li>
                                </ul>
                            </div>
                            <div class="col-sm">
                                <img class="artifactImg"
                                    src="{{selectedBuild.featherId.name |artifactParts: selectedBuild.featherId.idSet.name}}">

                                <p style="overflow-wrap: break-word;">{{selectedBuild.featherId.name}}</p>
                                <div *ngIf="isEditing==true" class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Feathers
                                    </a>

                                    <div class="dropdown-menu" style="height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of feathers"
                                            (click)="changeFeather(item)">{{item.name}}</a>

                                    </div>
                                </div>
                                <div *ngIf="isEditing==true" class="dropdown show mt-2">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Stats
                                    </a>

                                    <div  class="dropdown-menu" style="max-height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of feathers[0].stats"
                                            (click)="selectFeatherStat(item)">{{item}}</a>

                                    </div>
                                </div>

                                <h3>
                                    Selected stat
                                </h3>
                                <ul>
                                    <li style="list-style-type: none;">{{selectedBuild.featherStat}}</li>
                                </ul>
                            </div>
                            <div class="col-sm">
                                <img class="artifactImg"
                                    src="{{selectedBuild.watchId.name |artifactParts: selectedBuild.watchId.idSet.name}}">

                                <p style="overflow-wrap: break-word;">{{selectedBuild.watchId.name}}</p>
                                <div *ngIf="isEditing==true" class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Watches
                                    </a>

                                    <div class="dropdown-menu" style="height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of watches"
                                            (click)="changeWatch(item)">{{item.name}}</a>

                                    </div>
                                </div>
                                <div *ngIf="isEditing==true" class="dropdown show mt-2">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Stats
                                    </a>

                                    <div  class="dropdown-menu" style="max-height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of watches[0].stats"
                                            (click)="selectWatchStat(item)">{{item}}</a>

                                    </div>
                                </div>

                                <h3>
                                    Selected stat
                                </h3>
                                <ul>
                                    <li style="list-style-type: none;">{{selectedBuild.watchStat}}</li>
                                </ul>
                            </div>
                            <div class="col-sm">
                                <img class="artifactImg"
                                    src="{{selectedBuild.gobletId.name |artifactParts: selectedBuild.gobletId.idSet.name}}">

                                <p style="overflow-wrap: break-word;">{{selectedBuild.gobletId.name}}</p>
                                <div *ngIf="isEditing==true" class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Goblets
                                    </a>

                                    <div class="dropdown-menu" style="height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of goblets"
                                            (click)="changeGoblet(item)">{{item.name}}</a>

                                    </div>
                                </div>
                                <div *ngIf="isEditing==true" class="dropdown show mt-2">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Stats
                                    </a>

                                    <div  class="dropdown-menu" style="max-height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of goblets[0].stats"
                                            (click)="selectGobletStat(item)">{{item}}</a>

                                    </div>
                                </div>

                                <h3>
                                    Selected stat
                                </h3>
                                <ul>
                                    <li style="list-style-type: none;">{{selectedBuild.gobletStat}}</li>
                                </ul>
                            </div>
                            <div class="col-sm">
                                <img class="artifactImg"
                                    src="{{selectedBuild.bandanaId.name |artifactParts: selectedBuild.bandanaId.idSet.name}}">

                                <p style="overflow-wrap: break-word;">{{selectedBuild.bandanaId.name}}</p>
                                <div *ngIf="isEditing==true" class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Bandanas
                                    </a>

                                    <div class="dropdown-menu" style="height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of bandanas"
                                            (click)="changeBandana(item)">{{item.name}}</a>

                                    </div>
                                </div>
                                <div *ngIf="isEditing==true" class="dropdown show mt-2">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Stats
                                    </a>

                                    <div  class="dropdown-menu" style="max-height: 100px;
                                    overflow-y: auto;" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" *ngFor="let item of bandanas[0].stats"
                                            (click)="selectBandanaStat(item)">{{item}}</a>

                                    </div>
                                </div>

                                <h3>
                                    Selected stat
                                </h3>
                                <ul>
                                    <li style="list-style-type: none;">{{selectedBuild.bandanaStat}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</html>