html {
    background-image: url('../../../assets/images/backlogin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    font-family: Genshin;
    overflow: hidden;
}

@font-face {
    font-family: Genshin;
    src: url("../../../assets/fonts/zh-cn.ttf");
}