<html>
<app-nav></app-nav>
<div class="jumbotron">
  <h1 class="display-4">Genshin builds</h1>
  <p class="lead">Your favourite webpage for Genshin Impact information and character builder!</p>
  <hr class="my-4">
  <p>This is all you can find: </p>
  <div id="carouselExampleControls" class="carousel slide" style="height: 50%;" data-ride="carousel">
    <div class="carousel-inner">
      
      <div class="carousel-item {{ (i == 0) ? 'active' : ''}}" *ngFor="let item of utils; let i = index">
        <h1>{{item.text}}</h1>
        <img src="{{item.img}}" class="d-block w-100 img img-thumbnail " alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</html>