<html>
<app-nav></app-nav>
<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Weapons</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center">
        <h1>Weapons</h1>
        <div class="dropdown dropleft">
            <button class="btn btnFilter dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="sortWeapons('Sword')">Swords</a>
                <a class="dropdown-item" (click)="sortWeapons('Claymore')">Claymore</a>
                <a class="dropdown-item" (click)="sortWeapons('Polearm')">Polearms</a>
                <a class="dropdown-item" (click)="sortWeapons('Catalyst')">Catalysts</a>
                <a class="dropdown-item" (click)="sortWeapons('Bow')">Bows</a>
                <a class="dropdown-item" (click)="loadWeapons()">All</a>
            </div>
        </div>
    </div>

    <app-loading id="loadingWeapons" class="animated fadeIn" *ngIf="loading"></app-loading>
    <div class="animated fadeIn" *ngIf="weapons">
        <splide id="sliderWeapons" [options]="{ 
        fixedWidth: 120,
        height: 170,
        gap: 5,
        drag:true,
        pagination: false,
        isNavigation: false,
        type: 'slide'}">
            <splide-slide *ngFor="let item of weapons">
                <div><img class="img img-thumbnail" src="{{item.name |weaponsImg}}" (click)="changeWeapon(item)" />
                    <p style="text-align: center; font-weight: bold;">{{item.name}}</p>
                </div>

            </splide-slide>
        </splide>
    </div>
    <div *ngIf="weaponSelected" class="main-body animated fadeIn">
        <div class="row gutters-sm cardCharacter">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{weaponSelected.name|weaponsImg}}" alt="Admin" class="rounded-circle imgAvatar">
                            <div class="mt-3">
                                <h4>{{weaponSelected.name}}</h4>
                                <p>Max Rarity: {{weaponSelected.rarity}}⭐</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Substat:
                            {{weaponSelected.subStat}}</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Base
                            Attack: {{weaponSelected.baseAttack}}</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            Location: {{weaponSelected.location}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>{{weaponSelected.passiveName}}</h3>
                        <p>{{weaponSelected.passiveDesc}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</html>