.fullContainer {
    color: #1a202c;
    text-align: left;
    background-color: none !important;
    width: 100%;
    font-family: Genshin;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-image:url('../../../assets/images/backlogin.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; */
}




@font-face {
    font-family: Genshin;
    src: url("../../../assets/fonts/zh-cn.ttf");
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    transition: all 300ms ease 0ms;
}

.float:hover {
    transform: translateY(-7px);
}

.my-float {
    margin-top: 22px;
}

.img-thumbnail {
    cursor: pointer;
    border: none;
    width: 90px;
    height: 90px;
    transition: all 300ms ease 0ms;
    background: none !important;
}

.imageCharacter{
    transition: all 300ms ease 0ms;
}


.imageCharacter:hover{
    border-top: 2px solid white;
}

.imageCharacter:focus{
    border-top: 2px solid white;
}

button{
    background:none;
    border: none;
    outline: none;
    box-shadow: none;
    color: none;
}

.swal-title {
    font-family: Genshin;
}

.refreshBtn {
    width: 42px !important;
    height: 42px !important;
}

.iconElement {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 300ms ease 0ms;
}

.iconElement:hover {
    transform: translateY(-7px);
}

.splide__slide img {
    width: 100%;
    height: auto;
}

.main-body {
    padding: 5%;
}

.imgAvatar {
    border: black 1px solid;
    border-radius: 50%;
}

.testimonial-group>.row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    /*  overflow-x: hidden !important;  */
    overflow: auto;
    z-index: 1;
}

.testimonial-group>.row>.col-6 {
    display: inline-block;
}

/* .col-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
  .col-4:nth-child(3n+1) { background: #c69; }
  .col-4:nth-child(3n+2) { background: #9c6; }
  .col-4:nth-child(3n+3) { background: #69c; } */

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: rgb(155, 150, 150);
    height: 1px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e2e8f0;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.imgConstellation {
    width: auto;
    height: auto;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}